<h2>Mes matchs</h2>
<div id="stats">
  <app-pie-chart
    [nbLike]="getNbMatchType(true)"
    [nbNope]="getNbMatchType(false)">
  </app-pie-chart>
  <app-match-list
    [matchs]="matchs"
    (matchDeleted)="deleteMatch($event)">
  </app-match-list>
</div>
