<table>
  <tr *ngFor="let match of matchs" [ngClass]="match.match ? 'green' :'red'">
    <td>{{getProfil(match.profil).prenom}}</td>
    <td>{{getProfil(match.profil).nom}}</td>
    <td><button (click)="deleteMatch(match.id)">Supprimer</button></td>
  </tr>
</table>
