img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 250px;
  align-self: center;
  margin: 15px 0;
}

.btn-primary {
  background-color: green;
  border-color: green;
}

.btn-secondary {
  background-color: red;
  border-color: red;
}

.profil-card {
  width: 300px;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgrey;
  margin: 30px 0;
}

.profil-actions {
  display: flex;
  justify-content: space-evenly;
  padding: 26px 0;
  background-color: lightgrey;
}

.profil-name {
  display: flex;
  justify-content: center;
}
