<div class="profil-card">
  <h3 class="profil-name">
    {{profil.prenom}} {{profil.nom}}
  </h3>
  <img
    [src]="profil.photoUrl"
    class="card-img-top" alt="..."/>
  <div>Ces intérêt :</div>
  <ul>
    <li *ngFor="let interet of profil.interets">
      {{getInteretNom(interet)}}
    </li>
  </ul>
  <div class="profil-actions">
    <button (click)="match(true)" type="button" class="btn btn-primary btn-lg">Like</button>
    <button (click)="match(false)" type="button" class="btn btn-secondary btn-lg">Nope</button>
  </div>
</div>
