<div class="page">
  <h2>Ajout d'un prétendant</h2>
  <div>
    <label for="nom">Nom </label>
    <input id="nom" name="nom" [(ngModel)]="nom">
    <br/>
    <label for="prenom">Prénom </label>
    <input id="prenom" name="prenom" [(ngModel)]="prenom">
    <br/>
    <label for="photoUrl">Url de la photo </label>
    <input id="photoUrl" name="photoUrl" [(ngModel)]="photoUrl">
    <br/>
    <label>Interets</label>
    <div *ngFor="let interet of interets">
      <label>
        <input type="checkbox" (change)="interetChange(interet.id, $event)"> {{interet.nom}}
      </label>
    </div>
    <button (click)="valider()">Ajouter</button>
  </div>
</div>
