h1 {
  text-align: center;
}

a {
  margin-right: 50px;
}

#page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#titre {
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 20px;
}

img {
  width: 100px;
}

#content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

#footer {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #fd3774;
  margin-top: 20px;
  color: white;
}
