<div id="page">
  <div id="titre">
    <img src="https://cdn.1min30.com/wp-content/uploads/2018/05/logo-Tinder-1.jpg" alt="zinder"/>
    <a routerLink="" routerLinkActive="active">
      <h1>Zinder</h1>
    </a>
    <a routerLink="/stats" routerLinkActive="active">Statistiques</a>
    <a routerLink="/admin" routerLinkActive="active">Administration</a>
  </div>
  <div id="content">
    <router-outlet></router-outlet>
  </div>
  <div id="footer">
    <div>Toute reproduction est interdite</div>
    <div>&#9400; POEI Zenika 2020</div>
  </div>
</div>
