body {
  display: flex;
  justify-content: center;
}

app-root {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.page {
  width: 100%;
}

a, a:hover, a:visited {
  color: black;
  text-decoration: none; /* no underline */
}

h2 {
  color: #fd3774;
}
