<div class="page">
  <h2>Voici tes prétendants</h2>
  <label>
    Filtrer par :
    <select [(ngModel)]="filtreInteret">
      <option value=""></option>
      <option *ngFor="let interet of interets" [value]="interet.id">{{interet.nom}}</option>
    </select>
  </label>
  <app-profil-card
    *ngFor="let profil of getProfils()"
    [profil]="profil"
    [interets]="interets">
  </app-profil-card>
</div>
